
@model BusinessEntities.Accounts.AuditLogs.GRN_Log_list

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Goods Received Notes Audit Logs</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">    
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="progress-loader" style="display:none;">
            <div class="progress progress-sm mb-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tbl_grn_audit" class="table table-striped table-bordered text-nowrap" style="cursor: pointer;">
                <thead>
                    <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                        <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Order Code</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Supplier GRN</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Total</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Discount</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">NET</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">VAT</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Net + VAT</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Status </th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Operation</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Date Created</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Notes</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    var logs_arr = [];
    //#region Page Load
    $(function () {
        logs_arr = @Html.Raw(Json.Encode(Model._grn_log));
        BindDataTable(logs_arr);
    });
    //#endregion

    //#region Bind Datatable
    var BindDataTable = function (response) {
        var table = $("#tbl_grn_audit").DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            processing: true,
            "deferRender": true,
            "retrieve": true,
            lengthChange: true,
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "pra_code",
                    "orderable": false,
                    "searchable": false
                },               
                {
                    "mData": "pra_date"
                },
                {
                    "mData": "purchase_order"
                },
                {
                    "mData": "pra_supplier_inv"
                },
                {
                    "mData": "pra_total",
                    "className": "text-right",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "pra_discount",
                    "className": "text-right",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "pra_net",
                    "className": "text-right",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "pra_vat",
                    "className": "text-right",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                 {
                     "mData": "pra_netvat",
                    "className": "text-right",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "pra_status"
                },
                {
                    "mData": "pra_operation"
                },
                {
                    "mData": "madeby"
                },
                {
                    "mData": "pra_date_created"
                },
                {
                    "mData": "pra_notes"
                },                
            ],
            "aoColumnDefs": [                
                {
                    "aTargets": [13],
                    "visible": false,
                },                
            ],
            order: [[12, 'desc']],
            "rowCallback": function (row, data, index) {
                if (data.pra_operation == "Inserted") {
                    $('td:nth-child(12)', row).addClass('fs-13 bg-success-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-success-transparent-2 font-weight-semibold');
                    $('td:nth-child(11)', row).addClass('fs-13 bg-success-transparent-2 font-weight-semibold');
                }
                else if (data.pra_operation == "Updated") {
                    $('td:nth-child(12)', row).addClass('fs-13 bg-warning-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-warning-transparent-2 font-weight-semibold');
                    $('td:nth-child(11)', row).addClass('fs-13 bg-warning-transparent-2 font-weight-semibold');
                }
                else if (data.pra_operation == "Status Updated") {
                    $('td:nth-child(12)', row).addClass('fs-13 bg-danger-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-danger-transparent-2 font-weight-semibold');
                    $('td:nth-child(11)', row).addClass('fs-13 bg-danger-transparent-2 font-weight-semibold');
                }
                else if (data.pra_operation == "SQL Deleted") {
                    $('td:nth-child(12)', row).addClass('fs-13 bg-info-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-info-transparent-2 font-weight-semibold');
                    $('td:nth-child(11)', row).addClass('fs-13 bg-info-transparent-2 font-weight-semibold');
                }
                else {
                    $('td:nth-child(12)', row).addClass('fs-13 bg-teal-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-teal-transparent-2 font-weight-semibold');
                    $('td:nth-child(11)', row).addClass('fs-13 bg-teal-transparent-2 font-weight-semibold');
                }
            },
            buttons: [
                {
                    extend: 'excel',
                    title: 'Goods Received Notes Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Goods Received Notes Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16]
                    }
                },
                {
                    extend: 'csv',
                    title: 'Goods Received Notes Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16]
                    }
                },
                {
                    extend: 'print',
                    title: 'Goods Received Notes Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16]
                    }
                }
            ],
            language: {
                searchPlaceholder: 'Search...',
                zeroRecords: "No Record Match - Sorry",
                infoEmpty: "No Records Available",
                scrollX: "100%",
                sSearch: '<span class="text-primary font-weight-semi-bold">Search By Status / Operation / Madeby / Date Created</span>',
                sEmptyTable: '<span class="text-secondary">No Records Available Based On Request</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container()
            .appendTo('#tbl_grn_audit_wrapper .col-md-6:eq(0)');
        resizedt('tbl_grn_audit');
    }
        //#endregion Bind Datatable

</script>


