
@model BusinessEntities.Lists.DownloadFile


<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">View Document GRN</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            @{
                if (!string.IsNullOrEmpty(Model.file))
                {
                    <img src="@Model.file" alt="@Model.type" />
                }
                else
                {
                    <div class="alert alert-light-danger" role="alert">
                        File is not available!
                    </div>
                }
            }

        </div>
    </div>
</div>

