@model BusinessEntities.Lists.DownloadFile

@{
    string name = string.Empty;

    if (Model.type == "ins_front")
    {
        name = "Insurance Card Front View";
    }
    else if (Model.type == "ins_back")
    {
        name = "Insurance Card Back View";
    }
    else if (Model.type == "id_card_front")
    {
        name = "Emirate ID Card/Passport Front View";
    }
    else if (Model.type == "id_card_back")
    {
        name = "Emirate ID Card/Passport Back View";
    }
    else if (Model.type == "pat_doc")
    {
        name = "Patient Document";
    }
    else if (Model.type == "rec_doc")
    {
        name = "Receipt Document";
    }
}
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">View Document (@name)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            @{
                if (!string.IsNullOrEmpty(Model.file))
                {
                    <img src="@Model.file" alt="@Model.type" />
                }
                else
                {
                    <div class="alert alert-light-danger" role="alert">
                        File is not available!
                    </div>
                }
            }
        </div>
    </div>
</div>

