@using BusinessEntities;

@{
    ViewBag.Title = "General Consent Forms";

    Layout = "~/Areas/Tab/Views/Shared/_Tab_Layout.cshtml";

    EMRInfo tab = new EMRInfo();

    if (TempData["emr_data"] == null)
    {
        Response.Redirect("/Tab/PatientConsents/PatientConsents");
    }
    else
    {
        tab = (EMRInfo)TempData["emr_data"];

        TempData.Keep("emr_data");

        TempData["appId"] = tab.appId;
    }
}

<style type="text/css">
    @@media (min-width: 768px) {
        .sidebar-mini.sidenav-toggled .avatar-xl {
            width: 12rem !important;
        }
    }
</style>

@Html.Partial("~/Areas/Tab/Views/Shared/_Tab_PatientInfo.cshtml")

<div class="row">
    <div class="col-md-12">
        <div class="row me-0 ms-0 d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-6 pe-0 ps-0">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="form-group mb-2">
                            <label class="form-label font-weight-semibold">Select Front Desk (Reception)</label>
                            <select class="form-control select2-show-search" id="select_form" data-placeholder="Select Any Form">
                                <option value=""></option>
                                <option value="1">Registration Form</option>
                                <option value="2">General Consent Form</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="regForm" style="display:none;">
    @Html.Action("RegistrationFormTab", "RegistrationForm", new { area = "FrontDesk" })
</div>

<div id="genForm" style="display:none;">
    @Html.Action("GeneralConsent", "GeneralConsent", new { area = "FrontDesk" })
</div>

<div id="Alert"></div>

<!-- Modal Signature Pad -->
<div class="modal fade" id="signature_pad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="invoice-list">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width:750px;">
        <div class="modal-content" id="signature_pad_body">
        </div>
    </div>
</div>
<!-- End Modal Signature Pad -->

<script type="text/javascript">
    //#region Page Load
    $(function () {
        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });

        $("#select_form").select2({
            placeholder: 'Select Any Form',
            width: '100%',
            minimumResultsForSearch: '',
            maximumInputLength: 10,
            escapeMarkup: function (markup) {
                return markup;
            }
        });
    });
    //#endregion

    //#region On Patient Select
    $("#select_form").on("select2:select", function () {
        let id = $(this).val();

        if (parseInt(id) == 1) {
            $("#genForm").hide();
            $("#regForm").show();
        }
        else {
            $("#regForm").hide();
            $("#genForm").show();
        }
    });
    //#endregion
</script>