@using BusinessEntities;

@{
    ViewBag.Title = "Treatment Forms";

    Layout = "~/Areas/Tab/Views/Shared/_Tab_Layout.cshtml";

    EMRInfo tab = new EMRInfo();

    string dept_name = string.Empty;

    if (TempData["emr_data"] == null)
    {
        Response.Redirect("/Tab/PatientConsents/PatientConsents");
    }
    else
    {
        tab = (EMRInfo)TempData["emr_data"];

        TempData.Keep("emr_data");

        TempData["appId"] = tab.appId;

        dept_name = tab.emp_dept_name.Trim().ToLower();
    }
}

@Html.Partial("~/Areas/Tab/Views/Shared/_Tab_PatientInfo.cshtml")

<div class="row">
    <div class="col-md-12">
        <div class="row me-0 ms-0 d-flex justify-content-center">
            <div class="col-xl-6 col-md-12 col-lg-6 col-sm-6 pe-0 ps-0">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="form-group mb-2">
                            <label class="form-label font-weight-semibold">Select @tab.emp_dept_name Consent Form</label>

                            <select class="form-control select2-show-search" id="select_form" data-placeholder="Select Consent Form">
                                <option value=""></option>

                                @if (dept_name.Equals("dental"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="CrownBridgeIndex">Crown &amp; Bridge Prosthetics</option>
                                        <option value="DentalImplantsIndex">Dental Implants</option>
                                        <option value="DentalSurgeryIndex">Dental Surgery</option>
                                        <option value="ToothFillingsIndex">Tooth Fillings</option>
                                        <option value="OrthodonticConsentIndex">Orthodontics Consent</option>
                                        <option value="RootCanalIndex">Root Canal</option>
                                        <option value="ToothWhiteningIndex">Teeth Whitening Consent</option>
                                        <option value="ConsentVeneersIndex">Consent Veneers</option>
                                        <option value="PatientConsentIndex">Patient Consent</option>
                                        <option value="ImplantConsentIndex">Implant Consent</option>
                                        <option value="ImplantPostIndex">Implant Post Instructions</option>
                                        <option value="OrthoConsentIndex">Ortho Consent</option>
                                        <option value="OrthoInstructionsIndex">Ortho Instructions</option>
                                        <option value="OrthoElasticIndex"> Ortho Elastic Instructions</option>
                                        <option value="AfterSurgeryIndex">Surgery Post Instructions</option>
                                        <option value="MedicalConsentIndex">Medical Consent</option>
                                        <option value="MedicalConsentNewIndex">Medical Consent II</option>
                                    </optgroup>
                                    <optgroup dir="rtl" label="عربي">
                                        <option value="CrownArabicIndex">Crown - موافقة المريض على بدء علاج التيجان والجسور</option>
                                        <option value="DentalImplantsArabicIndex">Dental Implants - موافقة المريض على بدء علاج زراعة الأسنان</option>
                                        <option value="DentalSurgeryArabicIndex"> Dental Surgery - موافقة المريض على بدء علاج جراحة الأسنان</option>
                                        <option value="ToothFillingsArabicIndex">Tooth Filling - موافقة المريض على بدء علاج حشوات الأسنان</option>
                                        <option value="ConsentOrthoArbIndex">Ortho - موافقة المريض علىبدء علاج العصب</option>
                                        <option value="RootCanalArabicIndex">Root Canal - موافقة المريض علىبدء علاج العصب</option>
                                        <option value="TeethWhiteningArbIndex">Teeth Whitening - موافقة المريض على بدء علاج تبييض الأسنان</option>
                                        <option value="VeneersConsentIndex">Veneers - موافقة المريض على بدء القشرة الخزفية</option>
                                        <option value="PatientConsentArabicIndex">Patient Consent - نموذج موافقة المريض</option>
                                        <option value="DentalImplantConsentArabicIndex">Implant Consent - موافقة الزرع</option>
                                    </optgroup>
                                }
                                else if (dept_name.Equals("laser"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="GeneralConsentIndex">General Consent</option>
                                        <option value="CarboxyTherapyIndex">Carboxy Therapy Consent</option>
                                        <option value="CoolsculptingConsentIndex">Coolsculpting Consent</option>
                                        <option value="LesionRemovalIndex">Lesion Removal Consent</option>
                                        <option value="IsotretinoinConsentIndex">Isotretinoin Consent</option>
                                        <option value="MicroInformedIndex">Microdermabrasion Informed Consent</option>
                                        <option value="SublimeConsentIndex">Sublime Consent</option>
                                        <option value="VelashapeInformedIndex">Velashape Informed Consent</option>
                                        <option value="FacialConsentIndex">Facial Treatment Consent</option>
                                        <option value="LaserHairIndex">Laser Hair Removal Consent</option>
                                        <option value="FillerConsentIndex"> Filler Consent</option>
                                        <option value="TattoRemovalIndex">Tatto Removal Consent</option>
                                        <option value="BotoxConsentIndex">Botox/Dysport Consent</option>
                                        <option value="EmatrixIndex">Ematrix Consent</option>
                                        <option value="Ematrix1Index">Ematrix Consent II</option>
                                        <option value="CarbonPeelIndex">Carbon Peel Consent</option>
                                        <option value="LaserHairBleachingIndex"> Laser Hair Bleaching</option>
                                        <option value="MesotherapyIndex">Mesotherapy Consent</option>
                                        <option value="PrpConsentIndex">PRP Consent</option>
                                        <option value="ThreadLiftIndex">Thread Lift Consent</option>
                                        <option value="VascularConsentIndex">Vascular & Pigmented Lesions Consent</option>
                                        <option value="CavitationConsentIndex">Cavitation Consent</option>
                                        <option value="SocialConsentIndex">Social Media Consent</option>
                                        <option value="PhotoConsentIndex">Photo Consent</option>
                                        <option value="BodyWrapIndex">Body Wrap Informed Consent</option>
                                        <option value="LaserLighteningIndex">Laser Lightening Consent</option>
                                        <option value="IntimatePeelIndex">Intimate Peel Informed</option>
                                    </optgroup>
                                    @*<optgroup label="Dmax" class="text-primary font-weight-semibold">
                <option value="DmaxThreadLiftingIndex">Thread Lifting Consent Form</option>
                <option value="DmaxPrpConsentIndex">Prp Consent Form</option>
                <option value="DmaxMesotherapyConsentIndex">Mesotherapy Consent Form</option>
                <option value="DmaxBotoxIndex">Botox Consent Form</option>
                <option value="DmaxCarbonIndex">Carbon Laser Consent Form</option>
                <option value="DmaxFillerIndex">Filler Consent Form</option>
                <option value="DmaxGeniusIndex">Dermapen/Microneedling/Morpheus8/Genius Consent Form</option>
                <option value="DmaxToothIndex">Consent for Tooth Extraction</option>
                <option value="DmaxCrownBridgeIndex">Informed Consent for Crown and Bridge Prosthetics</option>
                <option value="DmaxEndodonticIndex">Consent for Endodontic Procedures</option>
                <option value="DmaxLaserTreatmentIndex">Laser Treatment Consent Form</option>
                <option value="DmaxInformedConsentIndex">Informed Consent Form</option>
                <option value="DmaxHydrafacialTreatmentIndex">Hydrafacial Treatment Informed Consent</option>
                <option value="DmaxFractionalLaserIndex">Fractional Laser Consent Form</option>
            </optgroup>*@
                                }
                                else if (dept_name.Equals("hijama"))
                                {
                                    <option value="HijjamaConsentIndex">Hijjama Consent Form</option>
                                    <option value="PatientRecordConsentIndex">Patient Record Consent Form</option>
                                    <option value="WeightManagementConsentIndex">Weight Management Consent Form</option>
                                    <option value="PhysiotherapyAssessmentIndex">Physiotherapy Assessment Consent Form</option>
                                    <option value="SlimmingConsentIndex">Slimming Consent Form</option>
                                    <option value="LaserSessionIndex">Laser Session Consent Form</option>
                                    <option value="SlimmingMachinesIndex">Slimming Machines Consent Form</option>
                                    <option value="AlopeciaConsentIndex">Alopecia Consent Form</option>
                                    <option value="FacialFillerIndex">Facial Filler Consent Form</option>
                                    <option value="HijjamaTherapyIndex">Hijjama Therapy Consent Form</option>
                                    <option value="HydraFacialIndex">Hydra Facial Consent Form</option>
                                    <option value="DripTherapyIndex">Drip Therapy Consent Form</option>
                                    <option value="LipolysisInjectionIndex">Lipolysis Injection Consent Form</option>
                                    <option value="MassageTherapyIndex">Massage Therapy Form</option>
                                    <option value="DermatologyGeneralIndex">Dermatology General Consent Form</option>
                                    <option value="LaserAssessmentIndex">Laser Assessment Consent Form</option>
                                    <option value="LaserConsentIndex">Laser Consent Form</option>
                                    <option value="WeightReductionConsentIndex">Weight Reduction Consent Form</option>
                                    <option value="VirtueRfConsentIndex">Virtue Rf Consent Form</option>
                                    <option value="RegeneraConsentIndex">Regenera Consent Form</option>
                                    <option value="PrpPeelingConsentIndex">Prp Peeling Consent Form</option>
                                    <option value="ProfhiloConsentIndex">Profhilo Consent Form</option>
                                    <option value="ProfoundConsentIndex">Profound Consent Form</option>
                                    <option value="PhysiotherapyConsentIndex">Physiotherapy Consent Form</option>
                                    <option value="MicroneedlingConsentIndex">Microneedling Consent Form</option>
                                }
                                else if (dept_name.Equals("dermatology"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="PrpConsentDermaIndex">Prp Consent Form</option>
                                        <option value="ElectrocauteryDermaIndex">Electrocautery Consent Form</option>
                                        <option value="ThreadLiftDermaIndex">ThreadLift Consent Form</option>
                                        <option value="TattoRemovalDermaIndex">Tatto Removal Consent Form</option>
                                        <option value="LaserVeinDermaIndex">Laser Vein Consent Form</option>
                                        <option value="PhotoConsentDermaIndex">Photo Consent Form</option>
                                        <option value="InformedConsentBotoxIndex">Informed Botox Consent Form</option>
                                        <option value="FillerInformedIndex">Filler Informed Consent Form</option>
                                        <option value="ChemicalPeelingIndex">Chemical Peeling Consent Form</option>
                                        <option value="FacialTreatmentDermaIndex">Facial Treatment Consent Form</option>
                                        <option value="PatientLaserHairRemovalDermaIndex">Patient Laser Hair Removal Consent Form</option>
                                        <option value="LaserHairRemovalIndex">Laser Hair Removal Consent Form</option>
                                        <option value="AftercareLeafletFormIndex">Aftercare Leaflet Consent Form</option>
                                        <option value="DermalFillersIndex">Dermal Fillers Consent Form</option>
                                        <option value="InjectablesTreatmentRecordsIndex">Injectables Treatment Records Consent Form</option>
                                        <option value="MedicalHistoryNewIndex">Medical History Consent Form</option>
                                        <option value="TreatmentRecordSheetIndex">Treatment Record Sheet Consent Form</option>
                                        <option value="BotoxConstantFormIndex">Botox Consent Form</option>

                                        @*<option value="DmaxBotoxIndex">Botox Consent Form</option>
                <option value="DmaxCarbonIndex">Carbon Consent Form</option>
                <option value="DmaxFillerIndex">Dmax Filler Consent Form</option>
                <option value="DmaxGeniusIndex">Dmax Genius Consent Form</option>
                <option value="DmaxToothIndex">Dmax Tooth Consent Form</option>
                <option value="DmaxCrownBridgeIndex">Dmax Crown Bridge Consent Form</option>
                <option value="DmaxEndodonticIndex">Dmax Endodontic Consent Form</option>
                <option value="DmaxThreadLiftingIndex">Dmax Thread Lifting Consent Form</option>
                <option value="DmaxPrpConsentIndex">Dmax Prp Consent Consent Form</option>
                <option value="DmaxMesotherapyConsentIndex">Dmax Mesotherapy Consent Form</option>
                <option value="DmaxLaserTreatmentIndex">Dmax Laser Treatment Consent Form</option>
                <option value="DmaxInformedConsentIndex">Dmax Informed Consent Form</option>
                <option value="DmaxHydrafacialTreatmentIndex">Dmax Hydrafacial Treatment Consent Form</option>
                <option value="DmaxFractionalLaserIndex">Dmax Fractional Laser Consent Form</option>*@
                                    </optgroup>
                                    <optgroup dir="rtl" label="عربي">
                                        <option value="LaserHairArbDermaIndex">Laser Hair Arabic</option>
                                        <option value="PdoArabicDermaIndex">PDO Consent Form</option>
                                        <option value="ElectroArabicDermaIndex">Electro Consent Form</option>
                                        <option value="FillerInformedArbIndex">Filler Informed Consent Form</option>
                                        <option value="FacialConsentArbDermaIndex">Facial Consent Form</option>
                                        <option value="MediaConsentArbDermaIndex">Media Consent Form</option>
                                        <option value="ConsentBotoxArbIndex">Consent Botox Consent Form</option>
                                        <option value="ChemicalPeelingArbIndex">Chemical Peeling Consent Form</option>
                                        <option value="AfterOperationIndex">After Operation Form</option>
                                        <option value="BotoxArabicIndex">Botox Arabic Consent Form</option>
                                        <option value="FillerInjectionIndex">Filler Injection Consent Form</option>
                                    </optgroup>
                                }
                                else if (dept_name.Equals("ophthalmology"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="CclEnglishIndex">CCL Consent Form</option>
                                        <option value="EyleaInjectionIndex">Eylea Injection Consent Form</option>
                                        <option value="LasikProcedureIndex">Lasik Procedure Consent Form</option>
                                        <option value="MonovisionResidualIndex">Monovision Residual Consent Form</option>
                                        <option value="SurgicalActIndex">Surgical Act Consent Form</option>
                                        <option value="OzurdexInjectionIndex">Ozurdex Injection Consent Form</option>
                                        <option value="ParsPlanaIndex">Pars Plana Consent Form</option>
                                        <option value="IntraocularLensIndex">Intraocular Lens Consent Form</option>
                                        <option value="BlepharotomyDrainageIndex">Blepharotomy Drainage Consent Form</option>
                                        <option value="ExcisionMultipleIndex">Excision Multiple Consent Form</option>
                                        <option value="ConsentChalizionIndex">Chalizion Consent Form</option>
                                        <option value="ConsentBlephrotomyIndex">Blephrotomy Consent Form</option>
                                        <option value="EpilationConsentIndex">Epilation Consent Form</option>
                                        <option value="SlipLampIndex">Slip Lamp Consent Form</option>
                                        <option value="PunctalPlugsIndex">Punctal Plugs Consent Form</option>
                                        <option value="EyeForm1Index">Eye Consent Form I</option>
                                        <option value="EyeForm2Index">Eye Consent Form II</option>
                                        <option value="EyeFormNew3Index">Eye Consent Form III</option>
                                        <option value="EyeFormNew4Index">Eye Consent Form IV</option>
                                    </optgroup>
                                    <optgroup label="Discharge Summary" class="text-primary font-weight-semibold">
                                        <option value="DischargeSummaryEyleaIndex">Discharge Summary Eylea Injection</option>
                                        <option value="DischargeSummaryForCclIndex"> Discharge Summary For Ccl + Fcat</option>
                                        <option value="DischargeCrossLinkingNewIndex"> Discharge Summary For Corneal Collagen Cross Linking</option>
                                        <option value="DischargeChalazionIncisionNewIndex"> Discharge Summary For Chalazion Incision And Curettage</option>
                                        <option value="DischargeConjunctivalNewIndex"> Discharge Summary For Conjunctival Cyst Excision</option>
                                        <option value="DischargeSummaryLaserNewIndex"> Discharge Summary For Laser</option>
                                        <option value="DischargeUltralasekNewIndex"> Discharge Summary For Ultralasek Treatment Procedure</option>
                                        <option value="DischargeUltralasikTreatmentNewIndex"> Discharge Summary For Ultralasik Treatment Procedure</option>
                                        <option value="DischargeLucentisNewIndex"> Discharge Summary Lucentis Injection</option>
                                        <option value="DischargeSummaryOzurdexNewIndex"> Discharge Summary Ozurdex Injection</option>
                                    </optgroup>
                                    <optgroup label="Operative Notes" class="text-primary font-weight-semibold">
                                        <option value="OperativeCollagenCrossLinkingNewIndex"> Linking Fcat Treatment</option>
                                        <option value="CrossLinkingTreatmentNewIndex"> Corneal Collagen Cross Linking</option>
                                        <option value="ConjunctivalCystExcisionNewIndex"> Conjunctival Cyst Excision</option>
                                        <option value="KenakortInjectionNewIndex"> Kenakort Injection</option>
                                        <option value="OperativeLucentisInjectionNewIndex"> Lucentis Injection</option>
                                        <option value="OperativeUltralasekNewIndex"> Ultralasek Treatment Procedure</option>
                                        <option value="OperativeUltralasikNewIndex"> Ultralasik Treatment Procedure</option>
                                        <option value="OperativeEyleaInjectionNewIndex"> Eylea Injection</option>
                                        <option value="OperativeOzurdexInjectionNewIndex"> Ozurdex Injection</option>
                                    </optgroup>
                                    <optgroup label="Glasses/Lens Pres." class="text-primary font-weight-semibold">
                                        <option value="ContactLensIndex"> Final Prescription - Contact Lenses</option>
                                        <option value="FinalGlassesIndex"> Final Prescription - Glasses</option>
                                    </optgroup>
                                    <optgroup label="Surgery Data" class="text-primary font-weight-semibold">
                                        <option value="OperativeCheckListIndex"> Pre Operative CheckList</option>
                                        <option value="DischargePlanIndex"> Discharge Plan Of Care</option>
                                        <option value="NomogramDataIndex"> Nomogram Data</option>
                                    </optgroup>
                                    <optgroup label="Special Eye Exam" class="text-primary font-weight-semibold">
                                        <option value="OrthoEvaluationNewIndex"> Orthopthic Evaluation</option>
                                        <option value="PtosisEvaluationNewIndex"> Ptosis Evaluation</option>
                                        <option value="ColorVisionNewIndex"> Color Vision</option>
                                    </optgroup>
                                    <optgroup label="Refraction Form" class="text-primary font-weight-semibold">
                                        <option value="RefractionFormIndex"> Refraction Form</option>
                                    </optgroup>
                                }
                                else if (dept_name.Equals("cardiology"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="RadiologyReportIndex">Radiology Report</option>
                                        <option value="StressTestIndex">Stress Test</option>
                                        <option value="EchocardiogramIndex">Echocardiogram Report</option>
                                    </optgroup>
                                }
                                else if (dept_name.Equals("gynaecology"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="PhysicalExamFormIndex">Physical Exam Form</option>
                                        <option value="ColposcopyFormIndex">Colposcopy Form</option>
                                        <option value="ColposcopyIndex">Colposcopy</option>
                                        <option value="ColposcopyReferralIndex">Colposcopy Referral</option>
                                        <option value="InfertilityFormIndex">Infertility Form</option>
                                        <option value="PregnancyFormIndex">Pregnancy Form</option>
                                        <option value="GynExamFormIndex">Gyn Exam Form</option>
                                    </optgroup>
                                }
                                else if (dept_name.Equals("speech therapy"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="RevisionRequestFormIndex">Revision Request Form</option>
                                        <option value="InitialEvaluationFormIndex">Initial Evaluation Form</option>
                                        <option value="LanguageProgressFormIndex">Language Progress Form</option>
                                        <option value="SpeechProgressChartIndex">Speech Progress Chart</option>
                                        <option value="DamanFormCombinedIndex">Daman Combined Form</option>
                                    </optgroup>
                                }
                                else if (dept_name.Equals("occupational therapy"))
                                {
                                    <optgroup label="English" class="text-primary font-weight-semibold">
                                        <option value="OccupationalTherapyFormIndex">Occupational Therapy Form</option>
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="viewContainer"></div>

<!-- Modal Signature Pad -->
<div class="modal fade" id="signature_pad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="invoice-list">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width:750px;">
        <div class="modal-content" id="signature_pad_body">
        </div>
    </div>
</div>
<!-- End Modal Signature Pad -->

<script type="text/javascript">
    //#region Page Load
    $(function () {
        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });

        $("#select_form").select2({
            placeholder: 'Select Any Form',
            width: '100%',
            minimumResultsForSearch: '',
            maximumInputLength: 10,
            escapeMarkup: function (markup) {
                return markup;
            }
        });
    });
    //#endregion

    //#region On Patient Select
    $("#select_form").on("select2:select", function () {
        var selectedValue = $(this).val();

        $("#spinner2").show();

        $("#viewContainer").html("");

        if (selectedValue != "") {
            $.ajax({
                url: '@Url.Action("LoadTreatmentFormView", "ConsentForms", new { area = "Tab" })',
                type: 'GET',
                data: { viewName: selectedValue },
                success: function (data) {
                    $("#viewContainer").html(data);
                },
                error: function () {
                    $("#viewContainer").html("<p>Error while Loading View!</p>");
                },
                complete: function () {
                    $("#spinner2").hide();
                }
            });
        }
    });
    //#endregion
</script>