@model BusinessEntities.Common.ApplicationError

@{
    ViewBag.Title = "500 - Internal Server Error";
}

<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="text-primary">
                            <div class="display-1 error-text mb-5 font-weight-bold"> 5<i class="fa fa-frown-o"></i>0</div>
                            <h1 class="h3  mb-3 font-weight-bold">@Model.ErrorMessage</h1>
                            <p class="h5 font-weight-normal mb-7 leading-normal">@Model.ErrorTrace</p>
                            <a class="btn text-danger border-danger mb-5 ms-2 fs-18" data-bs-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>