<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © @DateTime.Now.Year  <a href="javascript:void(0);">ClinicSoft 9.0</a>.
                <br /> Powered by <span class="fa fa-heart text-danger"></span> <a href="https://visionsoftwares.com" target="_blank"> Vision Technologies FZE </a> All rights reserved
            </div>
        </div>
    </div>
</footer>
<!-- End Footer-->
