@model List<BusinessEntities.Tab.Feedback>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="keywords" content="Clinic software, Home Care Software, HOMECARE Software, Home Care Management Software, medical software, medical center software, clinic management software, medical center management software, india, USA, dubai, sharjah, united arab emirates, abu dhabi, HAAD, DHA, MOH, DHCC, Dubai Health Care City, electronic prescription, ePrescription, electronic claims, eclaims, esignature, electronic signature, EMIRATESID integration" />
    <meta name="description" content="We Offers Custom Software Development, Website Designing & development, Domain Registration, Website Shared & Dedicated Hosting Service(Linux & Windows). We are offshore software development and software outsourcing experts. Our focus is application development, database design, Web design, ecommerce solutions and ecommerce Web site design." />
    <meta name="author" content="Vision Softwares">
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="subject" content="Computers/Software" />
    <meta name="page-type" content="Computers/Software" />
    <meta name="site-created" content="28-04-2005" />
    <meta name="revisit" content="6 days" />
    <meta name="revisit-after" content="6 days" />
    <meta name="content-language" content="english" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="robots" content="index,all" />
    <meta name="copyright" content="(c) 2005-2050 Vision Technologies " />
    <meta name="owner" content="Vision Technologies, Software Development, Website Design & Development, IT Infrastructure, Security Systems, Access Controls and IT Outsourcing Company" />
    <meta name="home_url" content="https://www.visionsoftwares.com/" />
    <!-- Title -->
    <title>Review Us - Share Your Feedback | ClinicSoft 9.0</title>

    <!--Favicon -->
    <link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />

    <!--Bootstrap css -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- INTERNAL Rating css -->
    <link rel="stylesheet" href="~/assets/plugins/rating/css/examples.css">

    <!-- INTERNAl Themes  css-->
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bars-1to10.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bars-movie.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bars-square.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bars-pill.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bars-reversed.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bars-horizontal.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/css-stars.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/bootstrap-stars.css">
    <link rel="stylesheet" href="~/assets/plugins/rating/dist/themes/fontawesome-stars-o.css">

    <!-- Color Skin css -->
    <link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .br-theme-fontawesome-stars-o .br-widget a {
            font: normal normal normal 40px / 1 FontAwesome !important;
        }
    </style>
</head>

<body class="app sidebar-mini">
    <!-- Page -->
    <div class="page">
        <div class="page-main">
            <!-- App-Content -->
            <div class="main-content">
                <div class="row p-2">
                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                        <div class="page-header">
                            <h4 class="page-title mb-0 text-primary">Review Us - Share Your Feedback</h4>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center p-2">
                    @Html.AntiForgeryToken()

                    <div class="col-md-12 col-lg-12 col-lg-12 d-flex justify-content-center mb-4">
                        <div class="star-ratings">
                            <div class="br-wrapper br-theme-fontawesome-stars-o">
                                <select id="FeedbackStars" name="rating" autocomplete="off" required>
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 col-lg-6 mt-5">
                        <label class="form-label text-black font-weight-semibold">Comments</label>
                        <textarea id="cpf_text" name="cpf_text" maxlength="250" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row mt-5 d-flex justify-content-center">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-2 mb-2 d-flex justify-content-center" id="RatingAlert"></div>

                    <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                        <div class="btn-list btn-animation">
                            <button type="submit" class="btn btn-success btn-lg" id="btn_Review">Review</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center">
                        Copyright © @DateTime.Now.Year  <a href="https://clinicsoft.visionsoftwares.com" target="_blank">ClinicSoft 9.0</a>.
                        <br /> Powered by <span class="fa fa-heart text-danger"></span> <a href="https://visionsoftwares.com" target="_blank"> Vision Technologies FZE </a> All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    </div>
    <!-- End Page -->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fe fe-chevron-up"></i></a>

    <!-- Jquery js-->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- Bootstrap5 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!-- Circle-progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>

    <!-- Jquery-rating js-->
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Sidemenu js-->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scroll js-->
    <script src="~/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/assets/plugins/p-scrollbar/p-scroll1.js"></script>

    <!-- INTERNAL Rating js-->
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/assets/plugins/rating/jquery.barrating.js"></script>
    <script src="~/assets/plugins/rating/js/examples.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    <script type="text/javascript">
        //#region Page Load
        $(function () {
            $("#FeedbackStars").barrating({
                theme: 'fontawesome-stars'
            });

            $("#FeedbackStars").on("change", function () {
                let stars = $(this).val();
                if (stars.length == '' || stars == null || stars == undefined) {
                    stars = "0";
                }
                $("#ratingValue").html(stars);
            });

            $("#FeedbackStars").trigger("change");
        });
        //#endregion

        //#region Review Click
        $('#btn_Review').on('click', function (e) {
            e.preventDefault();

            $('#btn_Review').removeClass("btn btn-success");
            $('#btn_Review').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Review').html("Reviewing....");

            var _dataInsert = {
                "cpfId": 0,
                "cpf_appId": "@ViewBag.appId",
                "cpf_text": $("#cpf_text").val(),
                "cpf_rating": $("#FeedbackStars").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertFeedback", "Feedback", new {area = "Tab" })",
                dataType: 'json',
                data: _dataInsert,
                success: function (response) {
                    $('#btn_Review').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Review').addClass("btn btn-success");
                    $('#btn_Review').html("Review");

                    if (response.isSuccess) {
                        alert("<i class='fe fe-check-circle text-white'></i> " + response.message, "success");

                        timeout();
                    }
                    else {
                        alert("<i class='fe fe-x-circle text-warning'></i> " + response.message, "warning");

                        timeout();
                    }
                },
                error: function (xhr) {
                    $('#btn_Review').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Review').addClass("btn btn-success");
                    $('#btn_Review').html("Review");

                    console.log(xhr);
                }
            });
        });
        //#endregion

        //#region Alert Functions
        var alertPlaceholder = document.getElementById("RatingAlert");
        function alert(e, t) {
            var l = document.createElement("div");
            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                '', alertPlaceholder.append(l)
        }

        function timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion
    </script>
</body>
</html>