
.datepicker {
    top: 45.9375px;
    left: 963.484px;
    z-index: 100000000 !important;
    display: block;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e3e3e3;
    color: #3e80eb;
}

.form-label {
    font-weight: 700 !important;
}

.table_footer_align {
    text-align: right !important;
    align-content: end !important;
    font-weight: bolder !important;
}

.popover-header {
    background-color: #664dc9;
    color: white;
    text-align: center;
}

.placeholder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    background-color: unset;
    opacity: .5;
}

.select2-container .select2-selection--single {
    height: 2.5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.5rem !important;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
    content: " ";
    margin-top: -6px;
    margin-left: -6px;
    border: none;
    border-radius: 3px;
}

table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    content: " ";
    font-size: 20px;
    margin-top: -19px;
    margin-left: -6px;
    text-align: center;
    text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #efefef;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 8px;
}

.text-justify {
    text-align: justify;
}

.curdrop {
    cursor: no-drop;
}

.curpointer {
    cursor: pointer;
}

.oldbutton {
    color: white !important;
    background-color: #808080 !important;
    border: 1px solid #808080 !important;
}
/*.sub-slide.is-expanded .sub-slide-menu .sub-slide-item a.active {
    background: none !important;
    color: #664dc9 !important;
}*/

.slide-menu a.active {
    color: #3C457D !important;
    background: #f5eaea;
}

.custom-switch-input:checked ~ .custom-switch-indicator-success {
    background: #38cb89;
}

.custom-switch-input:checked ~ .custom-switch-indicator-info {
    background: #3e80eb;
}

.custom-switch-input:checked ~ .custom-switch-indicator-warning {
    background: #ffab00;
}

.custom-switch-input:checked ~ .custom-switch-indicator-danger {
    background: #dc0441;
}

.custom-switch-input:checked ~ .custom-switch-indicator-secondary {
    background: #5b73e8;
}

.custom-switch-input:checked ~ .custom-switch-indicator-dark {
    background: #343a40;
}

.inv-title-box {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    margin-bottom: 1rem !important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.td_status_width {
    max-width: 100px !important;
    white-space: normal;
}

.td_max_width {
    max-width: 200px !important;
    white-space: normal;
}

.dataTables_scrollBody {
    position: relative;
    overflow: auto;
    width: 100%;
    max-height: 600px;
    /*min-height: 500px;*/
}

.fs-16 {
    font-size: 16px !important;
}

.spinner-container2 {
    display: none; /* Initially hide spinner */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner2 {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}