@model List<BusinessEntities.Invoice.InvoiceServices>

<div class="card" id="myPartialViewContainer">
    <div class="card-body p-1">
        <div class="table-responsive" style="min-height:unset;">
            <table id="dtTable_invServices" class="table table-striped table-bordered text-wrap" style="width:100%">
                <thead>
                    <tr style="color: #fff !important; background-color: #6c6c6c; border-color: #6c6c6c; ">
                        <th class="border-bottom-0 font-weight-semibold text-white text-end">ID</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">CPT Code</th>
                        <th class="border-bottom-0 font-weight-semibold text-white text-wrap">Treatment &amp; Procedures</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Qty</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Unit Price</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Total</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Disc</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">VAT</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Net</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Status</th>
                        <th class="border-bottom-0 font-weight-semibold text-white text-nowrap">Notes &amp; Comments</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    //#region Page Load
    $(function () {
        GetInvoiceItems();
    });
    //#endregion

    //#region Load Invoice Items
    var GetInvoiceItems = function () {
        var response = @Html.Raw(Json.Encode(Model));

        if (response != null && response != undefined) {
            var table;
            if ($.fn.dataTable.isDataTable('#dtTable_invServices')) {
                table = $('#dtTable_invServices').DataTable();
                table.clear();
                table.rows.add(response).draw();
            }
            else {
                BindDataTable(response);
            }
        }
    }
    //#endregion

    //#region Bind DataTable
    var BindDataTable = function (response) {
        var table = $("#dtTable_invServices").DataTable({
            processing: true,
            "deferRender": true,
            "pageLength": 50,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                { "mData": "ptId" },
                { "mData": "pt_tr_code" },
                { "mData": "pt_tr_name" },
                { "mData": "pt_tr_type" },
                { "mData": "pt_qty" },
                { "mData": "pt_uprice" },
                { "mData": "pt_total" },
                { "mData": "pt_disc" },
                { "mData": "pt_vat" },
                { "mData": "pt_net" },
                { "mData": "pt_status" },
                { "mData": "pt_comments" }
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "visible": false
                },
                {
                    "aTargets": [2],
                    "className": "fs-13 text-wrap"
                },
                {
                    "aTargets": [4],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [5],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [6],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [7],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [8],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [9],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                }
            ],
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            fixedColumns: true,
            fixedHeader: {
                header: true,
                footer: true
            }
        });
        table.buttons().container()
            .appendTo('#dtTable_invServices_wrapper .col-md-6:eq(0)');
    }
    //#endregion

</script>

