@model BusinessEntities.Common.ApplicationError

@using Newtonsoft.Json;

@{
    ViewBag.Title = "Internal Server Error";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    var jsonString = JsonConvert.SerializeObject(Model);
}

<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="text-primary">
                            <div class="display-1 error-text mb-5 font-weight-bold"> 5<i class="fa fa-frown-o"></i>0</div>
                            <h1 class="h3  mb-3 font-weight-bold">@Model.ErrorMessage</h1>
                            <p class="h5 font-weight-normal mb-7 leading-normal">@Model.ErrorTrace</p>
                            <a class="btn btn-primary text-light mb-5 fs-18" href="javascript:void(0);">Help</a>
                            <a class="btn text-primary border-primary mb-5 ms-2 fs-18" href="javascript:void(0);">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>