
@model List<BusinessEntities.Accounts.Accounting.JournalAudit>

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Journal Entry Audit Logs</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>

<div class="modal-body p-4">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table id="tbl_ja_audit" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                <thead>
                    <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8;">
                        <th class="border-bottom-0 font-weight-semibold text-white">Branch</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Ref No.</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Account</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Group</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Period</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Debit</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Credit</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Status </th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Operation</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                        <th class="border-bottom-0 font-weight-semibold text-white">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var logs_array = [];

    //#region Page Load
    $(function () {
        logs_array = @Html.Raw(Json.Encode(Model));

        BindDataTable(logs_array);
    });
    //#endregion

    //#region Bind Datatable
    var BindDataTable = function (response) {
        var table = $("#tbl_ja_audit").DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            processing: true,
            "deferRender": true,
            "retrieve": true,
            lengthChange: true,
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "set_company"
                },
                {
                    "mData": "ja_refno",
                    "orderable": false,
                    "searchable": false
                },
                {
                    "mData": "acc_name"
                },                
                {
                    "mData": "ag_group"
                },
                {
                    "mData": "ja_type"
                },
                {
                    "mData": "ap_name"
                },
                {
                    "mData": "ja_debit",
                    "className": "text-end fs-12",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "ja_credit",
                    "className": "text-end fs-12",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "ja_status"
                },
                {
                    "mData": "ja_operation"
                },
                {
                    "mData": "ja_madeby_name"
                },
                {
                    "mData": "ja_date_created",
                    "render": function (ja_date_created, type, full, meta) {
                        if (type === 'display' || type === 'filter') {
                            var parsedDate = moment(ja_date_created, "YYYY-MM-DD HH:mm:ss");
                            return parsedDate.isValid() ? parsedDate.format("DD-MM-YYYY hh:mm:ss A") : ja_date_created;
                        }
                        return moment(ja_date_created).format("YYYY-MM-DD HH:mm:ss");
                    }
                }
            ],
            order: [[11, 'desc']],
            "rowCallback": function (row, data, index) {
                if (data.ja_operation == "Inserted") {
                    $('td:nth-child(11)', row).addClass('fs-13 bg-success-transparent-2 font-weight-semibold');
                    $('td:nth-child(12)', row).addClass('fs-13 bg-success-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-success-transparent-2 font-weight-semibold');
                }
                else if (data.ja_operation == "Updated") {
                    $('td:nth-child(11)', row).addClass('fs-13 bg-warning-transparent-2 font-weight-semibold');
                    $('td:nth-child(12)', row).addClass('fs-13 bg-warning-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-warning-transparent-2 font-weight-semibold');
                }
                else if (data.ja_operation == "Status Updated") {
                    $('td:nth-child(11)', row).addClass('fs-13 bg-danger-transparent-2 font-weight-semibold');
                    $('td:nth-child(12)', row).addClass('fs-13 bg-danger-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-danger-transparent-2 font-weight-semibold');
                }
                else if (data.ja_operation == "SQL Deleted") {
                    $('td:nth-child(11)', row).addClass('fs-13 bg-info-transparent-2 font-weight-semibold');
                    $('td:nth-child(12)', row).addClass('fs-13 bg-info-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-info-transparent-2 font-weight-semibold');
                }
                else {
                    $('td:nth-child(11)', row).addClass('fs-13 bg-teal-transparent-2 font-weight-semibold');
                    $('td:nth-child(12)', row).addClass('fs-13 bg-teal-transparent-2 font-weight-semibold');
                    $('td:nth-child(10)', row).addClass('fs-13 bg-teal-transparent-2 font-weight-semibold');
                }
            },
            buttons: [
                {
                    className:'btn btn-secondary',
                    extend: 'excel',
                    title: 'Journal Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                },
                {
                    className: 'btn btn-secondary',
                    extend: 'pdf',
                    title: 'Journal Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                },
                {
                    className: 'btn btn-secondary',
                    extend: 'csv',
                    title: 'Journal Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                },
                {
                    className: 'btn btn-secondary',
                    extend: 'print',
                    title: 'Journal Audit Logs',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                }
            ],
            language: {
                searchPlaceholder: 'Search...',
                zeroRecords: "No Record(s) Found",
                infoEmpty: "No Record(s) Available",
                scrollX: "100%",
                sSearch: '<span class="text-primary font-weight-semi-bold">Search By Status / Operation / Madeby / Date Created</span>',
                sEmptyTable: '<span class="text-secondary">No Record(s) Available Based On Request</span>',
                lengthMenu: '_MENU_ ',
            }
        });

        table.buttons().container().appendTo('#tbl_ja_audit_wrapper .col-md-6:eq(0)');

        resizedt();
    }
    //#endregion

    //#region UI Controls
    function resizedt() {
        setTimeout(function () {
            var tables = $.fn.dataTable.tables({ visible: true, api: true });
            if (tables) {
                $('#tbl_ja_audit').DataTable().columns.adjust();
            }
        }, 500);
    }
    //#endregion
</script>