@{
    ViewBag.Title = "Registration (Front Desk)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">Registration (Front Desk)</h4>
    </div>
    <div class="page-rightheader">
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="tabs-menu ">
            <ul class="nav panel-tabs" dy>
                <li class=""><a href="#tab11" class="active" data-bs-toggle="tab">RegistrationForm</a></li>
                <li><a href="#tab12" data-bs-toggle="tab">General Consent</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab11" data-bs-backdrop="static">
                @Html.Action("RegistrationForm", "RegistrationForm", new { area = "FrontDesk" })
            </div>
            <div class="tab-pane" id="tab12" data-bs-backdrop="static">
                @Html.Action("GeneralConsent", "GeneralConsent", new { area = "FrontDesk" })
            </div>
        </div>
        <div class="tab-footer"><div id="Alert"></div></div>
    </div>
</div>

<!-- Modal Signature Pad -->
<div class="modal fade" id="signature_pad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="invoice-list">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="signature_pad_body">
        </div>
    </div>
</div>
<!-- End Modal Signature Pad -->