@model BusinessEntities.Lists.DownloadEMID
<style>
    #sizeEID {
        max-width: 800px;
    }
</style>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">View EMID</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <label class="form-label">EMID Front</label>
            @{
                if (!string.IsNullOrEmpty(Model.id_card_front))
                {
                    <img src="@Model.id_card_front" />
                }
                else
                {
                    <div class="alert alert-light-warning" role="alert">
                        EMID Front is not uploaded!
                    </div>
                }
            }
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <label class="form-label">EMID Back</label>
            @{
                if (!string.IsNullOrEmpty(Model.id_card_back))
                {
                    <img src="@Model.id_card_back" />
                }
                else
                {
                    <div class="alert alert-light-warning" role="alert">
                        EMID Back is not uploaded!
                    </div>
                }
            }
        </div>
    </div>
</div>