@model BusinessEntities.Masters.SourceCampaigns
<style>
    #sizeSource {
        max-width: 600px;
    }
</style>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Create New Source</h5>
    <button type="button" class="btn-close close-source-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_Add_Source" autocomplete="off" ondrop="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <label class="form-label">Code<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(m => m.eqc_code, new { @class = "form-control mb-2", @placeholder = "Ex:1234", @id = "eqc_code", @readonly = "readonly", @maxlength="20" })
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Title&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(m => m.eqc_title, new { @class = "form-control", @placeholder = "Ex : Instagram", @maxlength = "40" })
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div id="errorSource"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Source">Create Source</button>
                    <button type="button" class="btn btn-outline-danger me-1 close-source-modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //#region Page Load
    $(function () {
        validation();
    });
    //#endregion

    //#region Validation Initialization
    var validation = function () {
        $("#form_Add_Source").validate({
            rules:
            {
                eqc_title: {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                eqc_title: {
                    required: "Enter Source Title",
                    minlength: "Min 3 characters"
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#eqc_title').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });
    };
    //#endregion

    //#region Create Source Button Click
    $('#btn_Insert_Source').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Add_Source").valid()) {

            $('#btn_Insert').removeClass("btn btn-success");
            $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert').parent().addClass("curdrop");
            $('.btnCloseCreate').addClass("disabled");
            $('#btn_Insert').html("Creating... Please Wait");

            var _dataInsert = {
                "desiId": 0,
                "eqc_code": $("#eqc_code").val().trim(),
                "eqc_title": $("#eqc_title").val().trim(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertSource", "SourceCampaigns", new { area = "Masters" })",
                dataType: 'json',
                data: _dataInsert,
                success: function (data) {
                    $('#btn_Insert').parent().removeClass("curdrop");
                    $('.btnCloseCreate').removeClass("disabled");
                    $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-success");
                    $('#btn_Insert').html("Create Source");

                    if (data.isSuccess) {
                        if (data.isInserted) {

                            var _from = $('#source_modal').attr("data-modal-from");

                            if (_from === "create-enquiry") {
                                var source = {
                                    "id": data.message,
                                    "text": $("#eqc_title").val().trim()
                                }
                                localStorage.setItem("newSource", JSON.stringify(source));
                                $('#source_modal').modal('hide');
                                $('#create_enquiry').modal('toggle');
                            }
                            else if (_from === "update-enquiry") {
                                var source = {
                                    "id": data.message,
                                    "text": $("#eqc_title").val().trim()
                                }
                                $('#source_modal').modal('hide');
                                $('#update_enquiry').modal('toggle');
                            }
                            else {
                                GetSources();
                                alert("<i class='fe fe-check-circle text-white'></i> Source Created Successfully!", "success");
                                $('#source_modal').modal('toggle');
                                Timeout();
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Source Already Exists with the same name!</strong><br/>" +
                                "</div></div>";;
                            $("#errorSource").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-danger' role='alert'>" +
                            "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });

                        html += "</ul></div></div>";
                        $("#errorSource").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').parent().removeClass("curdrop");
                    $('.btnCloseCreate').removeClass("disabled");
                    $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-success");
                    $('#btn_Insert').html("Create Source");

                    $('#source_modal').modal('toggle');
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Close Source Click
    $('.close-source-modal').on('click', function (e) {
        e.preventDefault();
        var _from = $('#source_modal').attr("data-modal-from");

        if (_from === "create-enquiry") {
            $('#source_modal').modal('hide');
            $('#create_enquiry').modal('toggle');
        }
        else if (_from === "update-enquiry") {
            $('#source_modal').modal('hide');
            $('#update_enquiry').modal('toggle');
        }
        else {
            $('#source_modal').modal('hide');
        }
    });
    //#endregion
</script>