@{
    ViewBag.Title = "Appointment Journey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            Appointment Journey
        </h4>
    </div>
    <div class="page-rightheader">
    </div>
</div>