<form id="form_pritems">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
                <label class="form-label text-black">
                    Items&nbsp;<span class="text-danger">*&nbsp;<label id="lbl_message" class="fw-bold"></label></span>
                    &nbsp;<a id="btnItemEnquiry" title="Central Store Item Enquiry" style="cursor: pointer"><i class="fa fa-question-circle text-info"></i></a>
                </label>
                <select class="form-control select2" id="item_name" name="item_name">
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
                <label class="form-label text-black">Item Description</label>
                <input type="text" id="item_desc" class="form-control" maxlength="495" />
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3" id="div_item_batch" style="display:none;">
            <div class="form-group">
                <label class="form-label">Batch / Expiry&nbsp;<span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="text" id="item_batch" class="form-control" maxlength="30" />
                    <div class="input-group-append" style="max-width: 60%; min-width: 50%;">
                        <input type="text" id="item_expiry" name="item_expiry" class="form-control" placeholder="DD-MMM-YYYY" maxlength="15" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Qty / UoM&nbsp;<span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="text" id="item_qty" class="form-control" maxlength="4" onkeypress="return validateOneDecimalNumeric2(this, event);" value="0" />
                    <div class="input-group-append" style="max-width: 70%; min-width: 50%;">
                        <select class="form-control select2" id="item_uom" name="item_uom"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">Price&nbsp;<span class="text-danger">*</span></label>
                <input type="text" id="item_price" class="form-control" maxlength="7" onkeypress="return validateOneDecimalNumeric2(this,event);" value="0" />
            </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">Total&nbsp;<span class="text-danger">*</span></label>
                <input type="text" id="item_total" class="form-control" readonly="readonly" value="0" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 d-none">
            <div class="form-group">
                <label class="form-label">Discount / Type</label>
                <div class="input-group">
                    <input type="text" id="item_disc" class="form-control" maxlength="6" onkeypress="return validateOneDecimalNumeric2(this,event);" value="0" />
                    <div class="input-group-append" style="max-width: 70%; min-width: 50%;">
                        <select class="form-control" id="item_disc_type">
                            <option value="Fixed">Fixed</option>
                            <option value="%">%</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">Disc. Value</label>
                <input type="text" id="item_disc_value" class="form-control" readonly="readonly" value="0" />
            </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">NET&nbsp;<span class="text-danger">*</span></label>
                <input type="text" id="item_net" class="form-control" readonly="readonly" value="0" />
                <span class="text-danger" id="lbl_net_error"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">VAT %&nbsp;<span class="text-danger">*</span></label>
                <select class="form-control" id="item_vat_per">
                    <option value="0">0 %</option>
                    <option value="5">5 %</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">VAT</label>
                <input type="text" id="item_vat" class="form-control" readonly="readonly" value="0" />
                <span class="text-danger" id="lbl_vat_error"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1 d-none">
            <div class="form-group">
                <label class="form-label text-black">NET + VAT&nbsp;<span class="text-danger">*</span></label>
                <input type="text" id="item_netvat" class="form-control" readonly="readonly" value="0" />
                <span class="text-danger" id="lbl_netvat_error"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 d-none">
            <div class="form-group">
                <label class="form-label">Free Qty / UoM&nbsp;</label>
                <div class="input-group">
                    <input type="text" id="item_qty_free" class="form-control" onkeypress="return validateOneDecimalNumeric2(this,event);" value="0" />
                    <div class="input-group-append" style="max-width: 70%; min-width: 50%;">
                        <select class="form-control select2" id="item_uom_free"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" id="div_item_batch_free" style="display:none;">
            <div class="form-group">
                <label class="form-label">Free Batch / Expiry&nbsp;</label>
                <div class="input-group">
                    <input type="text" id="item_batch_free" class="form-control" maxlength="30" />
                    <div class="input-group-append" style="max-width: 60%; min-width: 50%;">
                        <input type="text" id="item_expiry_free" class="form-control" placeholder="DD-MMM-YYYY" maxlength="15" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
                <label class="form-label text-danger">&nbsp;<span class="text-danger" id="lbl_calculation_error"></span></label>
                <button type="button" class="btn btn-secondary" id="btn_addItem" onclick="add_ItemToList();"> <i class="mdi mdi-plus"></i>&nbsp;Add Item</button>
                <button type="button" class="btn btn-outline-dark" id="btn_Reset">Reset</button>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 d-flex justify-content-center" id="exists">
            <div id="ExistAlert"></div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Page Load
    var emptyRow = "<tr><td colspan='13' class='text-center text-secondary'> No Item(s) Added</td></tr>"

    $(function () {
        $("#tbl_purchaserequest_items tbody").append(emptyRow);
    });
    //#endregion

    //#region Get Items
    $("#item_name").select2({
        placeholder: 'Select a Item',
        width: '100%',
        dropdownParent: $('#form_AddPurchaseRequest'),
        minimumInputLength: 3,
        escapeMarkup: function (markup) {
            return markup;
        },
        ajax: {
            url: '@Url.Action("SearchItems", "PurchaseRequests", new { area = "MaterialManagement" })',
            dataType: 'json',
            delay: 250,
            data: function (query) {
                $('#lbl_message').text('');

                if ($('#purq_branch').val() != null && $('#purq_branch').val() != "" && $('#purq_branch').val() != undefined) {
                    return {
                        query: query.term,
                        branch: $('#purq_branch').val()
                    };
                }
                else {
                    $('#lbl_message').text('Select Branch First');

                    return {
                        query: '',
                        branch: 0
                    }
                }
            },
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
    //#endregion

    //#region Item Select Event
    $('#item_name').on('select2:select', function (e) {
        var data = e.params.data;

        if (data.id > 0) {
            $.ajax({
                url: '@Url.Action("GetItemDetail", "PurchaseRequests", new { area = "MaterialManagement" })?id=' + data.id,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    $("#item_uom").empty();
                    $("#item_uom_free").empty();

                    if (response.length > 0) {
                        $('#item_qty').val("1");

                        var uprice = parseFloat(response[0].item_cost).toFixed(2);

                        if (uprice <= 0) {
                            $('#item_price').val(1);
                        }
                        else{
                            $('#item_price').val(uprice);
                        }

                        $('#item_vat_per').val(response[0].item_vat).trigger('change');

                        var item_uom = response[0].item_uom;
                        var item_uom2 = response[0].item_uom2;
                        var item_uom3 = response[0].item_uom3;
                        var newOption = "";
                        newOption = new Option(item_uom, item_uom, true, true);
                        $("#item_uom").append(newOption).trigger('change');
                        newOption = new Option(item_uom, item_uom, true, true);
                        $("#item_uom_free").append(newOption).trigger('change');

                        if (item_uom != item_uom2) {
                            newOption = new Option(item_uom2, item_uom2, true, true);
                            $("#item_uom").append(newOption).trigger('change');
                            newOption = new Option(item_uom2, item_uom2, true, true);
                            $("#item_uom_free").append(newOption).trigger('change');
                        }

                        if (item_uom2 != item_uom3) {
                            newOption = new Option(item_uom3, item_uom3, true, true);
                            $("#item_uom").append(newOption).trigger('change');
                            newOption = new Option(item_uom3, item_uom3, true, true);
                            $("#item_uom_free").append(newOption).trigger('change');
                        }
                        $('#item_uom').val(response[0].item_uom).trigger('change');
                        $('#item_uom_free').val(response[0].item_uom).trigger('change');
                    }
                    else {
                        $('#item_qty').val("1");
                        $('#item_price').val("0");
                        $('#item_uom').val("").trigger('change');
                        $('#item_uom_free').val("").trigger('change');
                    }
                    AddingCalculation();
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr.statusText);
                }
            });
        }
    });
    //#endregion

    //#region Adding Validation on Items Adding Button
    var validation_items = function () {
        let _item = $('#item_name').val();
        let _vat_per = $('#item_vat_per').val();
        let _qty = $('#item_qty').val().trim();
        let _uom = $('#item_uom').val();
        let _price = $('#item_price').val().trim();
        let _total = $('#item_total').val().trim();
        let _disc = $('#item_disc').val().trim();
        let _net = $('#item_net').val().trim();
        let _netvat = $('#item_netvat').val().trim();
        let _disc_value = $('#item_disc_value').val().trim();
        let _purq_type = $('#purq_type').val();
        let _item_batch = $('#item_batch').val();
        let _item_expiry = $('#item_expiry').val();
        let _qty_free = $('#item_qty_free').val();
        let _uom_free = $('#item_uom_free').val();
        let _free_batch = $("#item_batch_free").val().trim();
        let _free_expiry = $("#item_expiry_free").val().trim();
        var count = 0;

        if (_item === "" || _item === null || _item === undefined || _item.length === 0) {
            $("#select2-item_name-container").parent().addClass('error');
            count++;
            Error_Timeout("item_name");
        }

        if (_qty === "" || _qty === null) {
            $('#item_qty').parent().addClass('has-error');
                count++;
                Error_Timeout("item_qty");
        }
        else {
            if (_qty <= 0) {
                $('#item_qty').parent().addClass('has-error');
                count++;
                Error_Timeout("item_qty");
            }
        }

        if (_uom === "" || _uom === null || _uom === undefined) {
            $("#select2-item_uom-container").parent().addClass('error');
            count++;
            Error_Timeout("item_uom");
        }

        if (_price === "" || _price === null || _price === undefined) {
            $('#item_price').parent().addClass('has-error');
            count++;
            Error_Timeout("item_price");
        }
        else {
            if (_price <= 0) {
                $('#item_price').parent().addClass('has-error');
                count++;
                Error_Timeout("item_price");
            }
        }

        if (_disc === "" || _disc.length <= 0) {
            $('#item_disc').val("0");
        }
        if (_disc_value === "" || _disc_value.length <= 0) {
            $('#item_disc_value').val("0");
        }
        if (_vat_per === null || _vat_per === "" || _vat_per.length <= 0) {
            $('#item_vat_per').val("0").trigger('change');
        }
        if (_total === "" || _total === null || _total === undefined) {
            $('#item_total').parent().addClass('has-error');
            count++;
            Error_Timeout("item_total");
        }
        else {
            if (_total <= 0) {
                $('#item_total').parent().addClass('has-error');
                count++;
                Error_Timeout("item_total");
            }
        }
        if (_net === "" || _net === null || _net === undefined) {
            $('#item_net').parent().addClass('has-error');
            count++;
            Error_Timeout("item_net");
        }
        else {
            if (_net <= 0) {
                $('#item_net').parent().addClass('has-error');
                count++;
                Error_Timeout("item_net");
            }
        }
        if (_netvat === "" || _netvat === null || _netvat === undefined) {
            $('#item_netvat').parent().addClass('has-error');
            count++;
            Error_Timeout("item_netvat");
        }
        else {
            if (_netvat <= 0) {
                $('#item_netvat').parent().addClass('has-error');
                count++;
                Error_Timeout("item_netvat");
            }
        }
        if (_purq_type === "Purchase Invoice" || _purq_type === "GRN Regular") {
            if (_item_batch === "" || _item_batch === null || _item_batch === undefined) {
                $('#item_batch').parent().addClass('has-error');
                count++;
                Error_Timeout("item_batch");
            }
            if (_item_expiry === "" || _item_expiry === null || _item_expiry === undefined || _item_expiry === 0) {
                $('#item_expiry').parent().addClass('has-error');
                count++;
                Error_Timeout("item_expiry");
            }
            else {
                let _today_date = new Date();
                if (($("#purq_odate").val() != null && $("#purq_odate").val() != 0 && $("#purq_odate").val() != "" && $("#purq_odate").val() != undefined))
                {
                    let p_date = moment($("#purq_odate").val());
                    if (p_date.isValid)
                        _today_date = p_date;
                }
                let item__expiry = moment(_item_expiry);
                if (item__expiry.isValid() == false) {
                    item__expiry = new Date();
                }
                if (_today_date.isValid() && item__expiry.isValid()) {
                    if (item__expiry.diff(_today_date, 'days') <= 0) {
                        $('#item_expiry').parent().addClass('has-error');
                        count++;
                        Error_Timeout("item_expiry");
                        $.growl.error({
                            title: "Error",
                            message: "Item Batch Expiry Date should not be less than equal to Request Date!"
                        });
                    }
                }
            }
        }

        if (_qty_free === "" || _qty_free.length <= 0) {
            $('#item_disc').val("0");
        }
        else {
            if (parseFloat(_qty_free) > 0) {
                if (_uom_free === "" || _uom_free === null || _uom_free === undefined) {
                    $("#select2-item_uom_free-container").parent().addClass('error');
                    count++;
                    Error_Timeout("item_uom_free");
                }
                if (_purq_type === "Purchase Invoice" || _purq_type === "GRN Regular") {
                    if (_free_batch === "" || _free_batch === null || _free_batch === undefined) {
                        $('#item_batch_free').parent().addClass('has-error');
                        count++;
                        Error_Timeout("item_batch_free");
                    }
                    if (_free_expiry === "" || _free_expiry === null || _free_expiry === undefined) {
                        $('#item_expiry_free').parent().addClass('has-error');
                        count++;
                        Error_Timeout("item_expiry_free");
                    }
                    else {
                        let _today_date = new Date();
                        if (($("#purq_odate").val() != null && $("#purq_odate").val() != 0 && $("#purq_odate").val() != "" && $("#purq_odate").val() != undefined)) {
                            let p_date = moment($("#purq_odate").val());
                            if (p_date.isValid)
                                _today_date = p_date;
                        }
                        let free__expiry = moment(_free_expiry);
                        if (free__expiry.isValid() == false) {
                            free__expiry = new Date();
                        }

                        if (_today_date.isValid() && free__expiry.isValid()) {
                            if (free__expiry.diff(_today_date, 'days') <= 0) {
                                $('#item_expiry_free').parent().addClass('has-error');
                                count++;
                                Error_Timeout("item_expiry_free");
                                $.growl.error({
                                    title: "Error",
                                    message: "Free Item Batch Expiry Date should not be less than equal to Request Date!"
                                });
                            }
                        }
                    }
                }
            }
        }

        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region Adding Item Calculation
    $("#item_qty").focusout('input', function () {
        AddingCalculation();
    });

    $("#item_price").focusout('input', function () {
        AddingCalculation();
    });

    $("#item_disc").focusout('input', function () {
        AddingCalculation();
    });

    $("#item_vat_per").on('change', function () {
        AddingCalculation();
    });

    $("#item_disc_type").on('change', function () {
        AddingCalculation();
    });

    $("#item_qty_free").focusout('input', function () {
        AddingCalculation();
    });

    var AddingCalculation = function () {
        $("#lbl_calculation_error").text("");
        $("#lbl_net_error").text("");
        $("#lbl_vat_error").text("");
        $("#lbl_netvat_error").text("");

        let _qty = $("#item_qty").val();
        let _vat_per = $("#item_vat_per").val();
        let _disc = $("#item_disc").val();
        let _disc_type = $("#item_disc_type").val();
        let _prcie = $("#item_price").val();
        let _qty_free = $("#item_qty_free").val();
        let totalAmount = 0;
        let netAmount = 0;
        let vatAmount = 0;
        let netvatAmount = 0;
        let _disc_val = 0;

        if (_qty === "" || _qty === null || _qty === undefined) {
            _qty = 1;
            $("#item_qty").val("1");
        }
        if (_prcie === "" || _prcie === null || _prcie === undefined) {
            _prcie = 0;
            $("#item_price").val("0");
        }
        if (_disc === "" || _disc === null || _disc === undefined) {
            _disc = 0;
            $("#item_disc").val("0");
        }
        if (_vat_per === "" || _vat_per === null || _vat_per === undefined) {
            _vat_per = 0;
            $("#item_vat_per").val("0").trigger('change');
        }
        if (_qty_free === "" || _qty_free === null || _qty_free === undefined) {
            _qty_free = 0;
            $("#item_qty_free").val("0");
        }

        totalAmount = _qty * _prcie;

        if (_disc > 0 && totalAmount > 0) {
            if (_disc_type == "Fixed") {
                if (_disc > totalAmount) {
                    _disc_val = _disc;
                    $("#lbl_calculation_error").text("Discount should be less than Total Amount");
                    $("#item_total").attr("style", "border:1px solid red;color:red;");
                    $("#item_disc_value").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    _disc_val = _disc;
                    $("#lbl_calculation_error").text("");
                    $("#item_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    $("#item_disc_value").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }
            }
            else {
                if (_disc >= 100) {
                    $("#lbl_calculation_error").text("Discount should be less than Total Amount");
                    $("#item_total").attr("style", "border:1px solid red;color:red;");
                    $("#item_disc_value").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    $("#lbl_calculation_error").text("");
                    $("#item_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    $("#item_disc_value").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }
                _disc_val = (totalAmount * _disc) / 100;
            }
            _disc_val = (parseFloat(_disc_val)).toFixed(2);
        }

        netAmount = parseFloat(totalAmount) - parseFloat(_disc_val);

        if (_vat_per > 0) {
            vatAmount = (parseFloat(netAmount) * parseFloat(_vat_per)) / 100;
            netvatAmount = (parseFloat(vatAmount)).toFixed(2);
        }
        netvatAmount = parseFloat(netAmount) + parseFloat(netvatAmount);

        if (netAmount < 0) {
            $("#lbl_net_error").text("Invalid Input");
            $("#item_net").attr("style", "border:1px solid red;color:red;");
        }
        else {
            $("#lbl_net_error").text("");
            $("#item_net").attr("style", "border:1px solid #ecebf1;color:#728096;");
        }
        if (vatAmount < 0) {
            $("#lbl_vat_error").text("Invalid Input");
            $("#item_vat").attr("style", "border:1px solid red;color:red;");
        }
        else {
            $("#lbl_vat_error").text("");
            $("#item_vat").attr("style", "border:1px solid #ecebf1;color:#728096;");
        }
        if (netvatAmount < 0) {
            $("#lbl_netvat_error").text("Invalid Input");
            $("#item_netvat").attr("style", "border:1px solid red;color:red;");
        }
        else {
            $("#lbl_netvat_error").text("");
            $("#item_netvat").attr("style", "border:1px solid #ecebf1;color:#728096;");
        }

        $("#item_total").val(parseFloat(totalAmount).toFixed(2));
        $("#item_disc_value").val(parseFloat(_disc_val).toFixed(2));
        $("#item_net").val(parseFloat(netAmount).toFixed(2));
        $("#item_vat").val(parseFloat(vatAmount).toFixed(2));
        $("#item_netvat").val(parseFloat(netvatAmount).toFixed(2));
    }
    //#endregion

    //#region Add Items in Table on Button click
    var add_ItemToList = function () {
        $('#lbl_calculation_error').text("");

        var purq_type = $('#purq_type').val();

        if (purq_type != undefined && purq_type.trim() != "") {
            if (validation_items()) {
                var itemId = $("#item_name :selected").val();
                var matchingRowCount = 0;

                $('#tbl_purchaserequest_items tbody tr').each(function () {
                    var tdId = $(this).find('td:eq(15)').text();

                    if (tdId == itemId) {
                        matchingRowCount++;
                    }
                });

                if (matchingRowCount == 0) {
                    var item_name = $("#item_name :selected").text().trim();
                    var itemId = $("#item_name :selected").val();
                    var description = $("#item_desc").val().trim();
                    var batch = $("#item_batch").val().trim();
                    var item_expiry = $("#item_expiry").val().trim();
                    var qty = $("#item_qty").val().trim();
                    var uom = $("#item_uom").val();
                    var total = comma($("#item_total").val());
                    var price = comma($("#item_price").val());
                    var discount = comma($("#item_disc").val());
                    var disctype = $("#item_disc_type :selected").val();
                    var vat_per = comma($("#item_vat_per").val());
                    var net = comma($("#item_net").val());
                    var item_vat = comma($("#item_vat").val());
                    var item_netvat = comma($("#item_netvat").val());
                    var free_qty = $("#item_qty_free").val();
                    var free_uom = $("#item_uom_free").val();
                    var free_batch = $("#item_batch_free").val().trim();
                    var free_expiry = $("#item_expiry_free").val().trim();
                    var discount_value = comma($("#item_disc_value").val());

                    if ($("#tbl_purchaserequest_items tbody").children().children().length == 1) {
                        $("#tbl_purchaserequest_items tbody").html("");
                    }

                    var display_type = "";
                    if ($('#purq_type').val() == "Purchase Order") {
                        display_type = "none";
                        batch = "";
                    }

                    if (item_expiry === null || item_expiry === "" || item_expiry === undefined) {
                        item_expiry = "01-December-2099";
                    }
                    if (free_uom === null || free_uom === "" || free_uom === undefined) {
                        free_uom = uom;
                    }
                    if (free_expiry === null || free_expiry === "" || free_expiry === undefined) {
                        free_expiry = "01-December-2099";
                    }

                    var srno = $("#tbl_purchaserequest_items tbody").children().length + 1;

                    var dynamicRow = "<tr class='text-dark'><td class='text-center'>" + srno + "</td>" +
                        "<td style='max-width:200px !important; white-space: normal; text-align: justify;'>" + item_name + "</td>" +
                        "<td style='max-width:200px !important; white-space: normal; text-align: justify;'>" + description + "</td>" +
                        "<td style='display: none'>" + batch + "</td>" +
                        "<td style='display: none'>" + item_expiry + "</td>" +
                        "<td class='text-center'>" + qty + " - " + uom + "</td>" +
                        "<td style='display: none' class='text-center'>" + free_qty + " - " + free_uom + "</td>" +
                        "<td style='display: none' class='text-right'>" + price + "</td>" +
                        "<td style='display: none' class='text-right'>" + total + "</td>" +
                        "<td style='display: none' class='text-center'>" + discount + " - " + disctype + "</td>" +
                        "<td style='display: none' class='text-right'>" + discount_value + "</td>" +
                        "<td style='display: none' class='text-right'>" + net + "</td>" +
                        "<td style='display: none' class='text-right'>" + item_vat + "</td>" +
                        "<td style='display: none' class='text-right'>" + item_netvat + "</td>" +
                        "<td class='text-center'><i class='fe fe-trash text-danger curpointer remove-item' style='font-size: 15px;'></i></td>" +
                        "<td style='display: none'>" + itemId + "</td>" +
                        "<td style='display: none'>" + qty + "</td>" +
                        "<td style='display: none'>" + uom + "</td>" +
                        "<td style='display: none'>" + free_qty + "</td>" +
                        "<td style='display: none'>" + free_uom + "</td>" +
                        "<td style='display: none'>" + free_batch + "</td>" +
                        "<td style='display: none'>" + free_expiry + "</td>" +
                        "<td style='display: none'>" + discount + "</td>" +
                        "<td style='display: none'>" + disctype + "</td>" +
                        "<td style='display: none'>" + vat_per + "</td>" +
                        "</tr>";

                    $("#tbl_purchaserequest_items tbody").append(dynamicRow);

                    clear_Data();

                    FooterCalculateTotal();

                    // Delete Table Row
                    $(".remove-item").click(function () {
                        Swal.fire({
                            title: 'Do you wish to delete this item ?',
                            text: 'This action will permanently delete this item Purchase Request Items!',
                            icon: 'question',
                            showDenyButton: true,
                            confirmButtonText: 'Yes! I Confirm',
                            confirmButtonClass: 'btn btn-success mt-2',
                            denyButtonText: 'No! Cancel',
                            denyButtonClass: 'btn btn-danger ms-2 mt-2',
                            buttonsStyling: !1
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var row = $(this).closest('tr');
                                var siblings = row.siblings();
                                var id = row.find('td:eq(0)').text();

                                $(this).parent().parent().remove();

                                if ($("#tbl_purchaserequest_items tbody").children().children().length == 0) {
                                    $("#tbl_purchaserequest_items tbody").append(emptyRow);
                                    $("#subTotal").html(0.00);
                                    $("#subPrice").html(0.00);
                                    $("#subDisc").html(0.00);
                                    $("#subNET").html(0.00);
                                    $("#subVAT").html(0.00);
                                    $("#subNETVAT").html(0.00);
                                    $("#subDisc_value").html(0.00);
                                }
                                else {
                                    FooterCalculateTotal();
                                }

                                // Recalculate Serial Number after Delete
                                siblings.each(function (index) {
                                    $(this).children('td').first().text(index + 1);
                                });
                            }
                        });

                    });

                    resizedt('tbl_purchaserequest_items');
                }
                else {
                    var alertPlaceholder = document.getElementById("ExistAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
                    }

                    alert("<i class='fa fa-exclamation-triangle text-white'></i> Item Already Exists. Please Delete Existing to Add Again!", "warning");

                    Timeout();
                }
            }
        }
        else {
            $('#lbl_calculation_error').text("Select Purchase Type");
        }
    }
    //#endregion

    //#region Reset Items Detail Feilds
    $('#btn_Reset').click(function () {
        clear_Data();

        AddingCalculation();
    });

    function clear_Data() {
        var _date = new Date();
        var d = _date.getDate();
        var m = (_date.getMonth() + 1);
        var y = (_date.getFullYear() + 10);

        $('#item_name').val(null).trigger('change');
        $("#item_uom").empty();
        $("#item_desc").val("");
        $("#item_batch").val("");
        $("#item_expiry").bootstrapdatepicker("setDate", (d + "-" + m + "-" + y));
        $("#item_qty").val(1);
        $("#item_price").val("0");
        $("#item_total").val("0");
        $("#item_vat_per").val("0").trigger('change');
        $("#item_disc").val(0);
        $("#item_net").val(0);
        $("#item_vat").val(0);
        $("#item_netvat").val(0);
        $("#item_qty_free").val(0);
        $("#item_disc_value").val(0);
        $("#item_uom_free").empty();
        $("#item_batch_free").val("");
        $("#item_expiry_free").bootstrapdatepicker("setDate", (d + "-" + m + "-" + y));
        $("#item_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
        $("#item_disc_value").attr("style", "border:1px solid #ecebf1;color:#728096;");
    }
    //#endregion

    //#region Table Footer Total
    function FooterCalculateTotal() {
        var T_qty = 0;
        var Tprice = 0;
        var Tdiscount = 0;
        var Tnet = 0;
        var Tdisc_val = 0;
        var Tvat = 0;
        var TsubNETVAT = 0;
        var Total = 0;

        $("#tbl_purchaserequest_items > TBODY > tr").each(function () {
            var _price = $(this).find('td').eq(7).html().replace(/[,]/g, '');
            if (!isNaN(_price)) {
                Tprice += parseFloat(_price);
            }
            var _Total = $(this).find('td').eq(8).html().replace(/[,]/g, '');
            if (!isNaN(_Total)) {
                Total += parseFloat(_Total);
            }
            var _disc_val = $(this).find('td').eq(10).html().replace(/[,]/g, '');
            if (!isNaN(_disc_val)) {
                Tdisc_val += parseFloat(_disc_val);
            }
            var _net = $(this).find('td').eq(11).html().replace(/[,]/g, '');
            if (!isNaN(_net)) {
                Tnet += parseFloat(_net);
            }
            var _vat = $(this).find('td').eq(12).html().replace(/[,]/g, '');
            if (!isNaN(_vat)) {
                Tvat += parseFloat(_vat);
            }
            var _netvat = $(this).find('td').eq(13).html().replace(/[,]/g, '');
            if (!isNaN(_vat)) {
                TsubNETVAT += parseFloat(_netvat);
            }
            var _disc = $(this).find('td').eq(22).html().replace(/[,]/g, '');
            if (!isNaN(_disc)) {
                Tdiscount += parseFloat(_disc);
            }
        });
        $("#subPrice").html(comma(parseFloat(Tprice).toFixed(2)));
        $("#subTotal").html(comma(parseFloat(Total).toFixed(2)));
        $("#subDisc_value").html(comma(parseFloat(Tdisc_val).toFixed(2)));
        $("#subDisc").html(comma(parseFloat(Tdiscount).toFixed(2)));
        $("#subNET").html(comma(parseFloat(Tnet).toFixed(2)));
        $("#subVAT").html(comma(parseFloat(Tvat).toFixed(2)));
        $("#subNETVAT").html(comma(parseFloat(TsubNETVAT).toFixed(2)));
    }
    //#endregion

    
</script>