@{
    ViewBag.Title = "401 Access Denied";
    Layout = "~/Areas/Documentation/Views/Shared/_Doc_layout.cshtml";
}

<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="text-primary">
                            <div class="display-1 mb-5 font-weight-bold error-text">401</div>
                            <h1 class="h3  mb-3 font-weight-bold">Access Denied</h1>
                            <p class="h5 font-weight-normal mb-7 leading-normal">You do not have enough priveleges to view this page! <br />Please contact your system administrator.</p>
                            <a class="btn btn-primary text-white mb-5 fs-18" href="@Url.Action("UserManual", "UserManual", new {area= "Tools"})" target="_blank">Help</a>
                            <a class="btn text-primary border-primary mb-5 ms-2 fs-18" href="@Url.Action("PriorRequests", "PriorRequests", new { area="PriorRequests"})">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>