<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClinicSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<dataConfiguration defaultDatabase="ClinicSoftDB" />
	<connectionStrings>
		<add name="ClinicSoftDB" connectionString="Data Source=server7;Initial Catalog=yolandmc;User Id=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
	<add name="svEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OPJEA0D\SQLEXPRESS;initial catalog=sv;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ConfigMethod" value="Online" />
		<add key="ConfigPath" value="https://license-api.visionsoftwares.ae/api/License/VerifyProductKey" />
		<!--<add key="ConfigMethod" value="Offline" />
		<add key="ConfigPath" value="E:\\Project\\ClinicSoft9\\ClinicSoft\\VisionConfig.config" />-->
		<add key="ProductKey" value="a+mQsCvsc6+61uaRoZIEnA==" />
		<add key="Attachment" value="~/images/treatment_images/" />
		<add key="ClinicHeader" value="~/images/header_images/" />
		<add key="ClinicFooter" value="~/images/footer_images/" />
		<add key="WhatsappEndPoint" value="https://app.whatstap.co" />
		<!--<add key="SMSGatewayEndPoint" value="https://api.axonme.com" />-->
		<add key="SMSGatewayEndPoint" value="https://vtech.smshub.live" />
		<add key="ClinicSoftEndPoint" value="http://localhost:55650/" />
		<add key="ConsentFormEndPoint" value="http://localhost:55650/" />
		<add key="patientsignPath" value="/images/patient_photos/" />
		<add key="LogPath" value="logs" />
		<add key="BarcodeServiceEndPoint" value="http://192.168.0.161:60064/" />
		<add key="BarcodeServiceEndPoint" value="http://192.168.0.161:60064/" />
		<add key="EmailLogoLink" value="http://localhost:55650/assets/images/brand/logo.png" />
		<add key="ResetPasswordLink" value="http://localhost:55650/Authentication/ResetPassword/ResetPassword" />
		<add key="FeedbackLink" value="http://localhost:55650/Tab/Feedback/Feedback" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="15000" />
		<add key="TicketEndPoint" value="http://visionticket.visionsoftwares.com" />
		<add key="TicketAccessToken" value="jUTUJQeX_zCUlS5PFJj92HpyFQZUHHNhJLvLAb4fsL5_ER6XICqXFlX8IxwVyGKrRZAIFoKcUc3TjJhItokmcu9OHooqw_XH7bq-0S_TdyaVRag1Kd3cnP5oQa0h_gpf6ngspYhgt91hhnlgqKMiTZI0DRTZsFGE7ChkFCrirD1cSL6PWDABtYDH4VYrREcss00GAXw4GUCvSZ2z331bMl1j2pWYiSPTy_fIlJzAgBDo6CfjZlWEuoCwW3pzw9yA_1z_GL7Sq0bxTK535oQFQZlOag_REyEnTTGxmIts_bbayPDTibWMpmlWOYyFJMpEvxEk42scmE37OFkkfy1KJdC7UWGzKGhlx1izZh7GDFm9PAe_e1s7r3-OxdVrEuhA" />
		<!-- Controlled Medicine Keys-->
		<add key="CDEndPointUrl_Token" value="https://erxqa.inhealth.ae/cas/oidc/token" />
		<add key="CD_ClientId" value="omnicaremedicalcentertest" />
		<add key="CD_SecretKey" value="dfsj52364$#GDT" />
		<add key="CD_GrantType" value="client_credentials" />
		<add key="CDEndPointUrl" value="https://erxqa.inhealth.ae/blaze/" />
		<add key="filepatah" value="https://visionsoftwares.dyndns.org:7324/" />

		<add key="SpeechToTextBasePath" value="F:\\CS9V2\\ClinicSoft\\Documents\\SpeechToText\\" />
		<add key="SpeechToTextLink" value="https://192.168.0.70:3500/speech-to-text/" />
		<add key="AboutUsEndPoint" value="https://clinicsoft.visionsoftwares.com" />
		<add key="SupportEndPoint" value="http://support.visionsoftwares.com/login.aspx" />
		<!--NABIDH END POINTS Start-->
		<add key="HL7EndPoint" value="http://192.168.0.60:1290/api/" />
		<add key="HL7Action" value="HL7/RealTimeMessage" />
		<!--NABIDH END POINTS End-->

		<!--NABIDH END POINTS End-->
		<add key="FacilityId" value="6811" />
		<add key="RiayatiPOUsername" value="6811" />
		<add key="RiayatiPOPassword" value="6c4f7891-6747-4bae-864f-67e5918217b1" />
		<add key="RiayatiAPIUrl" value="https://tmbapi.riayati.ae:8083/api/" />
		<add key="RiayatiDocAPIUrl" value="https://tmbapi.riayati.ae:8084/api/" />
		
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<sessionState timeout="300" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.21.0.0" newVersion="3.21.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768" />
			</requestFiltering>
		</security>
	</system.webServer>
	<applicationSettings>
		<ClinicSoft.Properties.Settings>
			<setting name="ClinicSoft_ae_eclaimlink_dhpo_eRxValidateTransaction" serializeAs="String">
				<value>http://dhpo.eclaimlink.ae/eRxValidateTransaction.asmx</value>
			</setting>
			<setting name="ClinicSoft_ae_gov_doh_shafafiya_Webservices" serializeAs="String">
				<value>https://shafafiya.doh.gov.ae/v3/webservices.asmx</value>
			</setting>
			<setting name="ClinicSoft_ae_eclaimlink_dhpo1_ValidateTransactions" serializeAs="String">
				<value>http://dhpo.eclaimlink.ae/ValidateTransactions.asmx</value>
			</setting>
		</ClinicSoft.Properties.Settings>
	</applicationSettings>
</configuration>