@model BusinessEntities.Accounts.Masters.StockGroup

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Add Stock Group</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close close-stock-group" type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">

    <form id="form_AddStockGroup" autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="row">

            <div class="col-sm12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Branch&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("ig_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Stock Group&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(m => m.ig_group, new { @class = "form-control", @placeholder = "Ex : Dental", autocomplete = "off", maxlength = "140" })
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div id="group_error"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-success" id="btn_InsertGroup">Add</button>
                <button type="button" class="btn btn-outline-danger me-1 close-stock-group" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    var _from = $('#StockGroup_modal').attr("data-modal-from");

    //#region Page Load
    $(function () {
        $('#ig_branch').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#StockGroup_body'),
            width: '100%'
        });
       validation();
    });
    //#endregion Page Load

    //#region Insert New Stock Group on Button Click
    $('#btn_InsertGroup').on('click', function (e) {
        e.preventDefault();
        if ($('#form_AddStockGroup').valid()) {
            var _dataInsert = {
                "igId":        0,
                "ig_group":     $('#ig_group').val().trim(),
                "ig_branch": $('#ig_branch').val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertStockGroups", "StockGroups", new { area = "MaterialManagement"})",
                dataType: "JSON",
                data: _dataInsert,
                beforeSend: function () {
                    $('#btn_InsertGroup').removeClass("btn btn-success");
                    $('#btn_InsertGroup').addClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_InsertGroup').html("Saving....");
                },
                success: function (data) {
                    $('#btn_InsertGroup').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_InsertGroup').addClass("btn btn-success");
                    $('#btn_InsertGroup').html("Add");

                    if (data.isInserted > 0) {
                        $("#ig_group").val('');
                        $("#ic_branch").val('').trigger('chnage');
                        if (_from == "create-stock-group") {
                            GetStockGroup();
                            var alertPlaceholder = document.getElementById("StockGroupAlert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Stock Group Added Successfully!", "success");                            
                            $('#StockGroup_modal').modal('toggle');
                            Timeout();
                        }
                        else if (_from == "create-stock-item") {
                            localStorage.setItem("newGroupId", data.isInserted);

                            $('#StockGroup_modal').modal('hide');
                            $('#items_modal').modal('show');

                            return $.growl.notice({
                                title: 'Success',
                                message: '<i class="fa fa-check-circle"></i> ' + data.message,
                            });
                        }
                        else if (_from == "create-fixed-asset") {
                            localStorage.setItem("newGroupId", data.isInserted);

                            $('#StockGroup_modal').modal('hide');
                            $('#add_fixedasset_modal').modal('show');

                            return $.growl.notice({
                                title: 'Success',
                                message: '<i class="fa fa-check-circle"></i> ' + data.message,
                            });
                        }
                    }
                    else if (data.isInserted == -2) {
                        $("#group_error").html('');
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fe fe-alert-circle text-white' ></i>&nbsp;Validation Error.. Please correct before you submit!&nbsp;</strong><br/><ul>";
                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }
                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });

                        html += "</ul></div></div>";
                        $("#group_error").html(html);
                        Timeout();
                    }
                    else {
                        $("#group_error").html('');

                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-warning' role='alert' style=';color:#744f04'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fe fe-alert-triangle text-white'></i>&nbsp;" + data.message + "&nbsp;</strong></div></div>";
                        $("#group_error").html(html);

                        Timeout();
                    }
                },
                error: function (xhr) {
                    $('#btn_InsertGroup').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_InsertGroup').addClass("btn btn-success");
                    $('#btn_InsertGroup').html("Add");
                    var alertPlaceholder = document.getElementById("StockGroupAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-hidden="true">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-x-circle text-white'></i> Failed to Add Stock Groups!", "danger");
                    $('#StockGroup_modal').modal('toggle');
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
     //#endregion

    //#region Adding Validation on Feilds
    var validation = function () {
        $("#form_AddStockGroup").validate({
            focusInvalid: true,
            rules:
            {
                ig_group: {
                    required: true,
                    minlength: 3
                },
                ig_branch: {
                    required: true,
                },
            },
            messages: {
                ig_group: {
                    required: "Enter Stock Group",
                    minlength: "Min 3 characters"
                },
                ig_branch: {
                    required: "Select Branch",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id +"-error").text("");
        }, 4200);
    }
    //#endregion Remove Valiate Error Class Timeout

    //#region Close Stock Group Modal Click
    $('.close-stock-group').on('click', function (e) {
        e.preventDefault();
        if (_from === "create-stock-item") {
            $('#StockGroup_modal').modal('hide');
            $('#items_modal').modal('toggle');
        }
        if (_from === "create-fixed-asset") {
            $('#StockGroup_modal').modal('hide');
            $('#add_fixedasset_modal').modal('toggle');
        }

    });
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>