<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="keywords" content="Clinic software, Home Care Software, HOMECARE Software, Home Care Management Software, medical software, medical center software, clinic management software, medical center management software, india, USA, dubai, sharjah, united arab emirates, abu dhabi, HAAD, DHA, MOH, DHCC, Dubai Health Care City, electronic prescription, ePrescription, electronic claims, eclaims, esignature, electronic signature, EMIRATESID integration" />
    <meta name="description" content="We Offers Custom Software Development, Website Designing & development, Domain Registration, Website Shared & Dedicated Hosting Service(Linux & Windows). We are offshore software development and software outsourcing experts. Our focus is application development, database design, Web design, ecommerce solutions and ecommerce Web site design." />
    <meta name="author" content="Vision Softwares">
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="subject" content="Computers/Software" />
    <meta name="page-type" content="Computers/Software" />
    <meta name="site-created" content="28-04-2005" />
    <meta name="revisit" content="6 days" />
    <meta name="revisit-after" content="6 days" />
    <meta name="content-language" content="english" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="robots" content="index,all" />
    <meta name="copyright" content="(c) 2005-2050 Vision Technologies " />
    <meta name="owner" content="Vision Technologies, Software Development, Website Design & Development, IT Infrastructure, Security Systems, Access Controls and IT Outsourcing Company" />
    <meta name="home_url" content="https://www.visionsoftwares.com/" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="rating" content="General" />
    <meta name="copyright" content="
   -----------------------------------------------------
   Copyright; 2005-2050, Vision Technologies , All rights reserved.
   All graphics used in this document are copyrighted
   materials; 2005-2050, Vision Technologies , All rights reserved.
   -----------------------------------------------------
   Legal Notice: Information found on this website may not
   be published, broadcast, rewritten or redistributed in
   any form to any other websites or forums without prior
   written permission from VisionSoftwares.com.
   Copyrights; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------" />

    <meta name="robots" content="Index, Follow" />
    <meta http-equiv="Window-target" content="_top" />
    <meta http-equiv="Expires" content="0" />
    <meta name="WT.sp" content="_en_us_" />
    <meta name="DCSext.wt_ver" content="1.0" />
    <meta name="DCSext.wt_target" content="IE 7;Windows XP;Generic" />
    <meta name="Classification" content="E-Commerce, E-Business, Software development, Website, Hosting, Recruitment Software, Clinic Software, School Software, Property Software, Product Catalogue Software, Accounting Software, Retail Software, Jobs, Careers, Employment Opportunities" />

    <!-- Title -->
    <title>ClinicSoft 9.0 - Powered By Vision Technologies</title>

    <link rel="icon" href="~/assets/images/brand/1x/favicon.png" type="image/x-icon" />

    <!--Bootstrap css -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- Color Skin css -->
    <link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />
</head>
<body class="register-3">
    <div class="page">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-xl-4 col-md-7 col-sm-12 col-xs-12 ">
                                <div class="text-center mb-5 mt-0">
                                    <img src="~/assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="ClinicSoft9 logo" style="height: 8rem;">
                                </div>
                                <div class="card-group mb-0">
                                    <div class="card bg-primary text-white br-7 p-2" style="background-image: linear-gradient(to right, #191a54, #1f354e);">
                                        @RenderBody()
                                    </div>
                                </div>
                                <div class="text-center register-icons mt-2">
                                    <div class="small text-dark font-weight-bold mb-4">
                                        <p>
                                            &copy; @DateTime.Now.Year - <a href="https://visionsoftwares.com" target="_blank" class="small text-dark font-weight-bold mb-4">Vision Technologies</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery js-->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap5 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Othercharts js-->
    <script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>
    <!-- Circle-progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>
    <!-- Jquery-rating js-->
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <!-- Show Password -->
    <script src="~/assets/js/bootstrap-show-password.min.js"></script>
    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false);
    }
</body>
</html>

