@model BusinessEntities.Masters.Templates
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Create Template</h5>
    <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_Add_Template" autocomplete="off" ondrop="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Name&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(m => m.TempName, new { @class = "form-control", @placeholder = "Ex : Booking Confirmation", @maxlength = "40" })
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="form-group mb-3">
                    <label class="form-label text-black">For&nbsp;<span class="text-danger">*</span></label>
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mb-2">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="TempFor" value="1" id="1">
                            <span class="custom-control-label">Patient</span>
                        </label>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="TempFor" value="2" id="2">
                            <span class="custom-control-label">Appointment</span>
                        </label>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="TempFor" value="3" id="3">
                            <span class="custom-control-label">Employee</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Type&nbsp;</label>
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mb-2">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="TempWhatsapp" value="1">
                            <span class="custom-control-label">Email</span>
                        </label>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="TempSMS" value="1">
                            <span class="custom-control-label">Whatsapp</span>
                        </label>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="TempEmail" value="1">
                            <span class="custom-control-label">SMS</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <label class="form-label text-black">Parameters</label>
                <div class="form-control">
                    <p id="PatientName">PatientName</p>
                    <p id="AppointmentDate">AppointmentDate</p>
                    <p id="AppointmentTime">AppointmentTime</p>
                    <p id="DoctorName">DoctorName</p>
                    <p id="MRN">MRN</p>
                    <p id="Custom">Custom</p>
                </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-10">
                <div class="form-group">
                    <label class="form-label text-black">Content&nbsp;<span class="text-danger">*</span></label>
                    <textarea id="TempContent" class="form-control mb-4" placeholder="Enter custom message" rows="9" maxlength="100"></textarea>
                </div>
            </div>
        </div>
        <div id="TParamKey"></div>
        <div class="row mt-2">
            <div id="error"></div>
            <div class="col-sm-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert">Create Template</button>
                    <button type="button" class="btn btn-outline-danger me-1 btnClose" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //#region Page Load
    $(function () {
        validation();
        clearControls();
    });
    //#endregion

    //#region Select Template
        var TParamType = "";
        var TParamValue = "";

        $('#PatientName').on('click', function () {
            let html = document.getElementById("PatientName").innerHTML;
            let textarea = $('#TempContent').val();
            textarea += " {{" + html + "}}";
            $('#TempContent').val(textarea);
        });

        $('#AppointmentDate').on('click', function () {
            let html = document.getElementById("AppointmentDate").innerHTML;
            let textarea = $('#TempContent').val();
            textarea += " {{" + html + "}}";
            $('#TempContent').val(textarea);

        });

        $('#AppointmentTime').on('click', function () {
            let html = document.getElementById("AppointmentTime").innerHTML;
            let textarea = $('#TempContent').val();
            textarea += " {{" + html + "}}";
            $('#TempContent').val(textarea);

        });

        $('#DoctorName').on('click', function () {
            let html = document.getElementById("DoctorName").innerHTML;
            let textarea = $('#TempContent').val();
            textarea += " {{" + html + "}}";
            $('#TempContent').val(textarea);

        });

        $('#MRN').on('click', function () {
            let html = document.getElementById("MRN").innerHTML;
            let textarea = $('#TempContent').val();
            textarea += " {{" + html + "}}";
            $('#TempContent').val(textarea);

        });

        $('#Custom').on('click', function () {
            let html = '';
            let textarea = $('#TempContent').val();
            textarea += " {{" + html + "}}";
            $('#TempContent').val(textarea);
        });
    //#endregion

    //#region Validation Initialization
    var validation = function () {
        $("#form_Add_Template").validate({
            focusInvalid: true,
            rules:
            {
                TempName: {
                    required: true,
                },
                TempFor: {
                    required: true,
                },
                TempContent: {
                    required: true,
                    minlength: 5,
                    maxlength: 100,
                },
            },
            messages: {

                TempName: {
                    required: "Enter Template Name",
                },
                TempFor: {
                    required: "Check Any Template For",
                },
                TempContent: {
                    required: "Enter Message Content",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Insert Template Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Add_Template").valid()) {

            $('#btn_Insert').removeClass("btn btn-success");
            $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert').parent().addClass("curdrop");
            $('.btnClose').addClass("disabled");
            $('#btn_Insert').html("Creating... Please Wait");

            let strorgi = $("#TempContent").val();

            let results = strorgi.match(/{([^]+)}/g,',');
            let TParamKeyNew = results.toString();
            TParamKeyNew = TParamKeyNew.replace(/[{{}}]/g, '');

            var TempFor = $.map($(':checkbox[name=TempFor]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            var TempWhatsapp = $("input[name='TempWhatsapp']:checked").val();
            var TempSMS = $("input[name='TempSMS']:checked").val();
            var TempEmail = $("input[name='TempEmail']:checked").val();

            var _dataInsert = {
                "TemplateId": 0,
                "TempName": $("#TempName").val().trim(),
                "TempFor": TempFor,
                "TempWhatsapp": TempWhatsapp,
                "TempSMS": TempSMS,
                "TempEmail": TempEmail,
                "TempContent": $("#TempContent").val().trim(),
                "TParamKey": TParamKeyNew,
                "TParamType": TParamType,
                "TParamValue": TParamValue,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertTemplate", "Templates", new {area = "Masters" })",
                dataType: 'json',
                data: _dataInsert,
                success: function (data) {
                    $('#btn_Insert').parent().removeClass("curdrop");
                    $('.btnClose').removeClass("disabled");
                    $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-success");
                    $('#btn_Insert').html("Create Template");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            clearControls();
                            GetTemplates();
                            alert("<i class='fe fe-check-circle text-white'></i> Template Created Successfully!", "success");
                            $('#template_modal').modal('toggle');
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Template Already Exists with the same details!</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-danger' role='alert'>" +
                            "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').parent().removeClass("curdrop");
                    $('.btnClose').removeClass("disabled");
                    $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-success");
                    $('#btn_Insert').html("Create Template");
                    $('#template_modal').modal('toggle');
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#TempName").val("");
        $("#TempSMS").val(0);
        $("#TempEmail").val(0);
        $("#TempWhatsapp").val(0);
        $("#TempFor").val("");
        $("#TempContent").val("");
    }
    //#endregion
</script>