@{
    Layout = null;
    ViewBag.Title = "403 Forbidden (Access Denied)";
}

<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="container text-center bg-primary">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="text-white">
                    <div class="display-3 mb-5 mt-5 font-weight-bold error-text">Forbidden!</div>
                    <div class="display-2 mb-5 font-weight-bold error-text">4 <i class="mdi mdi-ghost"></i> 3</div>
                    <h1 class="h3 mb-3 font-weight-bold">Access Denied, You do not have privileges for this action!</h1>
                    <p class="h5 font-weight-normal mb-7 leading-normal">Please contact your system administrator.</p>
                    <a class="btn btn-danger mb-5 ms-2 fs-18" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>